<div class="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron">
		<h1>Login</h1>

		<form ng-submit="login.doLogin()">
			<!-- Username input -->
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control" ng-model="login.loginData.username">
			</div>

			<!-- Password input -->
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="login.loginData.password">
			</div>

			<!-- Login button -->
			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Login</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>
		</form>
	</div>
</div>