<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User CRM</title>
	<!-- For Angular Routing -->
	<base href="/">

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/paper/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.1/animate.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
	<!-- Controller -->
	<script src="app/controllers/mainCtrl.js"></script>
	<script src="app/controllers/userCtrl.js"></script>
	<!-- Services -->
	<script src="app/services/authService.js"></script>
	<script src="app/services/userService.js"></script>
	<!-- Main Angular App Files -->
	<script src="app/app.routes.js"></script>
	<script src="app/app.js"></script>
</head>
<body ng-app="userApp" ng-controller="mainController as main">
	<!-- NAVBAR -->
	<header>
		<div class="navbar navbar-inverse" ng-if="main.loggedIn">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand"><span class="glyphicon glyphicon-fire text-danger"></span> User CRM</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
					<li ng-if="main.loggedIn" class="navbar-text">Hello {{ main.user.name }}!</li>
					<li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</header>
	<main class="container">
		<!-- Angular Views Goes Here -->
		<div ng-view></div>
	</main>
</body>
</html>