main {
	padding-top: 30px;
}
/* Header 
===================== */
header .navbar {
	border-radius: 0;
}
/* Animations 
===================== */
.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); } 
	to { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
	from { -webkit-transform:rotate(0deg); } 
	to { -webkit-transform:rotate(360deg); }
}

